<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:p1="http://schemas.android.com/apk/res/android"
    xmlns:card_view="http://schemas.android.com/apk/res-auto"
    p1:orientation="vertical"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1"
    p1:padding="20dp">
    <LinearLayout
        p1:orientation="vertical"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/linearLayout4">
        <TextView
            p1:text="Chronofence"
            p1:textAppearance="?android:attr/textAppearanceLarge"
            p1:layout_width="match_parent"
            p1:layout_height="match_parent"
            p1:id="@+id/textView1"
            p1:textColor="@color/black_text" />
        <LinearLayout
            p1:orientation="horizontal"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/linearLayout8"
            p1:gravity="center">
            <EditText
                p1:inputType="time"
                p1:id="@+id/startTime"
                p1:layout_width="wrap_content"
                p1:layout_height="match_parent"
                p1:width="75dp"
                p1:hint="HH:MM"
                p1:textColor="@color/primary"
                p1:textColorHint="@color/accent"
                p1:gravity="center" />
            <TextView
                p1:text="to"
                p1:textAppearance="?android:attr/textAppearanceMedium"
                p1:layout_width="wrap_content"
                p1:layout_height="match_parent"
                p1:id="@+id/textView9"
                p1:gravity="bottom"
                p1:width="30dp" />
            <EditText
                p1:inputType="time"
                p1:layout_width="wrap_content"
                p1:layout_height="match_parent"
                p1:id="@+id/endTime"
                p1:width="75dp"
                p1:hint="HH:MM"
                p1:textColor="@color/primary"
                p1:textColorHint="@color/accent"
                p1:gravity="center" />
            <Button
                p1:text="Save"
                p1:layout_width="wrap_content"
                p1:layout_height="match_parent"
                p1:id="@+id/saveTime"
                p1:textColor="@color/primary_text" />
        </LinearLayout>
        <Space
            p1:id="@+id/space1"
            p1:layout_width="match_parent"
            p1:layout_height="10dp" />
        <TextView
            p1:text="If the ignition is turned on between the times above, an alert will be issued. The accepted format is HH:MM in 24 hour time."
            p1:textAppearance="?android:attr/textAppearanceSmall"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView2" />
        <Space
            p1:id="@+id/space1"
            p1:layout_width="match_parent"
            p1:layout_height="10dp" />
        <View
            p1:padding="20dp"
            p1:layout_width="fill_parent"
            p1:layout_height="1dp"
            p1:background="@android:color/darker_gray" />
        <Space
            p1:id="@+id/space1"
            p1:layout_width="match_parent"
            p1:layout_height="10dp" />
        <TextView
            p1:text="Speedfence"
            p1:textAppearance="?android:attr/textAppearanceLarge"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView4"
            p1:textColor="@color/black_text" />
        <ToggleButton
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:textOn="Enabled"
            p1:textOff="Disabled"
            p1:id="@+id/toggleButton"
            p1:textColor="@color/accent"
            style="?android:attr/borderlessButtonStyle"
            p1:gravity="center"
            p1:checked="true" />
        <TextView
            p1:text="Enable or disable alerts of the vehicle exceeding 70 mp/h or 110 km/h."
            p1:textAppearance="?android:attr/textAppearanceSmall"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView5" />
        <Space
            p1:id="@+id/space1"
            p1:layout_width="match_parent"
            p1:layout_height="10dp" />
        <View
            p1:padding="20dp"
            p1:layout_width="fill_parent"
            p1:layout_height="1dp"
            p1:background="@android:color/darker_gray" />
        <Space
            p1:id="@+id/space1"
            p1:layout_width="match_parent"
            p1:layout_height="10dp" />
        <TextView
            p1:text="Geofence"
            p1:textAppearance="?android:attr/textAppearanceLarge"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView6"
            p1:textColor="@color/black_text" />
        <Button
            p1:text="Launch Map"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/MapButton"
            p1:layout_marginRight="0.0dp"
            p1:padding="5dp"
            p1:elevation="4dp"
            p1:textColor="@color/accent"
            style="?android:attr/borderlessButtonStyle"
            p1:gravity="center" />
        <TextView
            p1:text="Set a location and radius where an alert will be issued when the vehicle enters it."
            p1:textAppearance="?android:attr/textAppearanceSmall"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView7" />
    </LinearLayout>
</ScrollView>